<!DOCTYPE html>
<html lang="el">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
<!--===============================================================================================-->
</head>
<body id="home_cont">

	<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="/prov_home?access_token=<%=accessToken%>" id="logo_wrap"> <img src="images/homemade.jpg" alt="" id="logo"> </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="/prov_home?access_token=<%=accessToken%>"">Home</a>
					</li>
					<li class="nav-item">
						<form class="nav-link js-scroll-trigger link-3" href="/profile?access_token=<%=accessToken%>">Profile</form>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="/logout?access_token=<%=accessToken%>" id="logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>

  <div class="wrap_inline">
	  <div class="card_div">
      <form class="validate-form add_form" id="login_form" action="/add" method="post">
        <span class="login100-form-title">
          Πληροφορίες για το φαγητό:
        </span>

        <div class="wrap_field" data-validate = "Valid title is required e.x: Παστίτσιο">
          <input class="field" type="text" name="title" placeholder="Όνομα" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-quote-left" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap_field">
          <input class="field" type="text" name="description" placeholder="Περιγραφή">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-info" aria-hidden="true"></i>
          </span>
        </div>

        <div class="wrap_field">
					<select name="category" required class="field" style="border:none; color: #999999; padding-left:64px">
						<option class="option" value="" selected disabled hidden>Κατηγορία</option>
  					<option class="option" value="Ορεκτικά">Ορεκτικά</option>
  					<option class="option" value="Σαλάτες">Σαλάτες</option>
  					<option class="option" value="Θαλασσινά">Θαλασσινά</option>
  					<option class="option" value="Κρέατα">Κρέατα-Ψητά</option>
						<option class="option" value="Ζυμαρικά">Ζυμαρικά</option>
						<option class="option" value="Πίτες">Πίτες</option>
						<option class="option" value="Γλυκά">Γλυκά</option>
						<option class="option" value="Άλλα">Άλλα</option>
					</select>
					<span class="focus-input100"></span>
					<span class="symbol-input100">
            <i class="fa fa-th-list" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="text" name="tags[]" placeholder="Ετικέτες" pattern="[ά-ωΆ-Ω]+(,[ά-ωΆ-Ω]+)*" title="Use comma to seperate each tag, e.x. tag1,tag2,tag3">
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-hashtag" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="number" min="1" name="amount" placeholder="Μερίδες" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-sort-numeric-asc" aria-hidden="true"></i>
          </span>
        </div>

				<div class="wrap_field">
          <input class="field" type="number" min="1" max="100" name="price" placeholder="Τιμή σε ευρώ" required>
          <span class="focus-input100"></span>
          <span class="symbol-input100">
            <i class="fa fa-euro" aria-hidden="true"></i>
          </span>
        </div>

				<input class="field" type="text" name="token" value="<%=accessToken%>" style="display:none">

        <div class="container-login100-form-btn">
          <button type="submit" class="butt_sub">
            Add product
          </button>
        </div>
      </form>
	  </div>
  </div>


<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
