<!DOCTYPE html>
<html lang="el">
<head>
	<title>Home</title>
	<meta charset="UTF-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
<!--===============================================================================================-->
	<link rel="icon" type="image/png" href="images/icons/favicon.ico"/>
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="vendor/bootstrap/css/bootstrap.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="fonts/font-awesome-4.7.0/css/font-awesome.min.css">
<!--===============================================================================================-->
	<link rel="stylesheet" type="text/css" href="css/util.css">
	<link rel="stylesheet" type="text/css" href="css/main.css">
	<link rel="stylesheet" type="text/css" href="css/user.css">
<!--===============================================================================================-->
</head>
<body class="gray_back">

	<nav class="navbar navbar-expand-lg navbar-white bg-white fixed-top" id="mainNav">
		<div class="container">
			<a class="navbar-brand js-scroll-trigger" href="#" id="logo_wrap"> <img src="images/homemade.jpg" alt="" id="logo"> </a>
			<button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarResponsive" aria-controls="navbarResponsive" aria-expanded="false" aria-label="Toggle navigation">
				<span class="navbar-toggler-icon"></span>
			</button>
			<div class="collapse navbar-collapse" id="navbarResponsive">
				<ul class="navbar-nav ml-auto">
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">Active</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">History</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="#">Profile</a>
					</li>
					<li class="nav-item">
						<a class="nav-link js-scroll-trigger link-3" href="/logout?access_token=<%=accessToken%>" id="logout">Log out</a>
					</li>
				</ul>
			</div>
		</div>
	</nav>


	<div >
			<h1 style="padding-top:120px; text-align:center">Αποτελέσματα αναζήτησης</h1>
			<div class="row">
				<div class="col-lg-2 mx-auto filters" style="padding-right:0px !important;">
					<div class="nav-left-sidebar sidebar-dark">
			        <div class="menu-list">
			            <nav class="navbar navbar-expand-lg navbar-light">
			                <a class="d-xl-none d-lg-none" href="#">Dashboard</a>
			                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
			                    <span class="navbar-toggler-icon"></span>
			                </button>
			                <form action="/filters" method="post">

			                <div class="collapse navbar-collapse" id="navbarNav">
			                    <ul class="navbar-nav flex-column">
			                        <li class="nav-divider">
			                            Φίλτρα
			                        </li>
			                        <li class="nav-item ">
			                            <a class="nav-link" href="#"><i class="fa fa-fw fa-filter"></i>Κατηγορίες: </a>
			                        </li>
															<label class="container_cat">
			                        Ορεκτικά
			                        <input type="checkbox" name="category[]" value="Ορεκτικά">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Σαλάτες
			                        <input type="checkbox" name="category[]" value="Σαλάτες">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Θαλασσινά
			                        <input type="checkbox" name="category[]" value="Θαλασσινά">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Κρέατα/Ψητά
			                        <input type="checkbox" name="category[]" value="Κρέατα">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Ζυμαρικά
			                        <input type="checkbox" name="category[]" value="Ζυμαρικά">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Πίτες
			                        <input type="checkbox" name="category[]" value="Πίτες">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Γλυκά
			                        <input type="checkbox" name="category[]" value="Γλυκά">
			                        <span class="checkmark"></span></label>

			                        <label class="container_cat">
			                        Άλλα
			                        <input type="checkbox" name="category[]" value="Άλλα">
			                        <span class="checkmark"></span></label>

			                        <li class="nav-item ">
			                            <a class="nav-link" href="#"><i class="fa fa-fw fa-balance-scale"></i>Μερίδες </a>
			                            <label class="container_cat">
			                            <input class="portions" type="number" name="portions" value="1"></label>
			                        </li>
															<input class="field" type="text" name="token" value="<%=accessToken%>" style="display:none">
			                        <div class="row ">


																	<div class="wrap_butt">
			                              <button type="reset" id="rst_butt" name="reset">Reset</button>
			                            </div>


			                            <div class="wrap_butt">
			                              <button type="submit" id="sub2_butt">Submit</button>
			                            </div>
			                        </div>
			                    </ul>
			                </div>
											</form>
			            </nav>
			        </div>
			    </div>
				</div>

				<div class="col-lg-5 mx-auto marg">
					<% foods.forEach((food) => {
      %>
			<div class="wrapper">
				<div class="title">
					<h2><%= food.product.name %></h2>
					<p><%= food.product.description %></p>
					<h5>Μερίδες: <%= food.amount %></h5>
					<h5>Τιμή: <%= food.price %>€</h5>
				</div>
				<div class="right">
					<div class="cent">
						<button type="button" id="sub_butt">Παραγγελία</button>
					</div>
				</div>
			</div>
      <%
    }) %>

				</div>
				<div class="col-lg-5 mx-auto marg" >
					<div class="wrap_map">
						Χάρτης
					</div>
				</div>

			</div>
	</div>



<!--===============================================================================================-->
	<script src="vendor/jquery/jquery-3.2.1.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/bootstrap/js/popper.js"></script>
	<script src="vendor/bootstrap/js/bootstrap.min.js"></script>
<!--===============================================================================================-->
	<script src="vendor/tilt/tilt.jquery.min.js"></script>
<!--===============================================================================================-->
	<script src="js/main.js"></script>

</body>
</html>
